# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. java
6. C++
7. Julia
8. Javascript
9. PHP
10. Go
11. Ruby
12. Visual Basic

Some of the commonly used libraries used by Data Scientists include:
1. Panadas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. keras
7. Tensorflow
8. PyToCh
9. ggplot
10. VEGAS

|Data Science Tools|
|------------------|
|Jupter Notebooks|
|R studio|
|Spark|

### Below are a few examples of evaluating arithmetic expressions in Python
expression : any combination of items such as variable ,literals, operators and pararhesis.
we read the expresion from left to right.
literals : values.
operators : +, -, *,/ ,** .

Examples:
x = 1;
y = 2;
z= x + y;

In [4]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200;
hours= minutes/60;
print(hours)

3.3333333333333335

** Objectives: **
* List popular languages for Data Science
* List popular librarys for Data Science
* Version control Git
* Representational state transfer REST API

## Author 
Salam Haitham Alshami